<div class="editar-informacion-container">

    <div class="barra-superior">
        <img src="/LogoHorizontal.png" alt="Logo AdherentIAHorizontal" class="app-logoHorizontal">
    </div>

    <div class="contendor-blackground">

        <div class="info-card">

            <form class="data-grid-form">

                <div class="columna-izquierda">

                    <h3 class="seccion-titulo">Información Socio-Económica</h3>

                    <div class="form-group">
                        <label for="ingreso">Ingreso Mensual Aproximado (MXN)</label>
                        <input type="number" id="ingreso" value="1900.00" min="0" placeholder="0.00">
                    </div>

                    <div class="form-group">
                        <label for="costo">Costo mensual de tratamiento (MXN)</label>
                        <input type="number" id="costo" value="1000.00" min="0" placeholder="0.00">
                    </div>
                </div>

                <div class="columna-derecha">
                    <div class="form-group">
                        <label for="estudios">Nivel de Estudios</label>
                        <select id="estudios">
                            <option>Básico (Primaria/Secundaria)</option>
                            <option>Medio Superior (Preparatoria)</option>
                            <option>Superior (Licenciatura o más)</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="ocupacion">Ocupación</label>
                        <input type="text" id="ocupacion" value="Desempleado">
                    </div>
                </div>
            </form>

            <div class="botones-edicion">
                <button class="btn-descartar" routerLink="/pacientes">
                    Descartar cambios
                </button>

                <button class="btn-guardar" routerLink="/pacientes">
                    Guardar
                </button>
            </div>

        </div>
    </div>

</div>