.editar-informacion-container {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
}

.contendor-blackground {
    background: #ddeffa;
    border: 1px solid #b1b1b1;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    padding: 70px;
}

.info-card {
    background: #EBF5FB;
    border: 1px solid #b1b1b1;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    padding: 30px;
}

.barra-superior {
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 30px;
    align-items: center;
}

.data-grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding-bottom: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e1e4eb;
}

.seccion-titulo {
    font-size: 20px;
    font-weight: 700;
    color: #1e3857;
    margin-bottom: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #475569;
}

.form-group input,
.form-group select {
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.botones-edicion {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.btn-descartar {
    background-color: #D9534F;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s;
}

.btn-descartar:hover {
    background-color: #c9302c;
}

.btn-guardar {
    background-color: #496F96;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s;
}

.btn-guardar:hover {
    background-color: #3f5d7d;
}