.layout-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #f8faff;
}

.sidebar {
    width: 300px;
    background-color: #d9e8f5;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    display: auto;
    flex-direction: column;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.avatar span {
    font-size: 50px;
    color: #4b7ebd;
}



.user-details {
    margin-left: 10px;
    background: none;
    border: none;
    padding: 0;
    text-align: left;
    cursor: default;
    color: inherit;
    font-family: inherit;
    font-weight: normal;
}

.user-details:hover {
    text-decoration: none;
    color: inherit;
}

.user-details small {
    color: #4b7ebd;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.user-details small:hover {
    text-decoration: underline;
    color: #3b5f85;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    color: #1e3857;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.menu a.active,
.menu a:hover {
    background-color: #bcd7f0;
    font-weight: 600;
}

.content {
    flex: 1;
    padding: 30px;
    background-color: #f4f7fc;
}

.menu-group {
    display: flex;
    flex-direction: column;
}

.main-link {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.submenu {
    display: none;
    flex-direction: column;
    margin-left: 38px;
    gap: 7px;
}

.menu-group.open .submenu {
    display: flex;
}

.arrow {
    transition: transform 0.25s;
}

.arrow.rotate {
    transform: rotate(180deg);
}