<div class="layout-container">
    <aside class="sidebar">
        <div class="user-info">
            <div class="avatar">
                <span class="material-icons">account_circle</span>
            </div>
            <div class="user-details">
                <div class="texto-pefil">
                    <h4>Katia Martagón</h4>
                </div>
                <small routerLink="/pacientes/mi-cuenta">Mi Cuenta ↗</small>
            </div>
        </div>

        <nav class="menu">
            <a routerLink="/home" routerLinkActivate="active">
                <span class="material-icons">home</span> Inicio
            </a>
            <a routerLink="/pacientes" routerLinkActive="active">
                <span class="material-icons">groups</span> Pacientes
            </a>
        </nav>
    </aside>
    <main class="content">
        <router-outlet></router-outlet>
    </main>
</div>