<div class="paciente-editar-container">

    <!-- 1. BARRA SUPERIOR (Logo y Título) -->
    <div class="barra-superior">
        <img src="/LogoHorizontal.png" alt="Logo AdherentIAHorizontal" class="app-logoHorizontal">
        <h2 class="titulo">Pacientes</h2>
    </div>



    <div class="contendor-blackground">

        <!-- 2. BARRA DE BÚSQUEDA -->
        <div class="search-bar">
            <input type="text" placeholder="Buscar..." />
            <span class="material-icons">search</span>
        </div>

        <div class="info-card">

            <div class="data-grid">

                <!-- A. DATOS PERSONALES / COLUMNA IZQUIERDA SUPERIOR -->
                <div class="paciente-header">
                    <h3 class="nombre-paciente">Ana Paola Vargas Carrera</h3>
                    <p><b>ID:</b> 1</p>
                    <p><b>Fecha de Nacimiento:</b> 15/07/2004</p>
                </div>

                <!-- B. DATOS DE DESERCIÓN / COLUMNA DERECHA SUPERIOR -->
                <div class="desercion-header">
                    <h3 class="desercion-prob">Probabilidad de Deserción: <span class="percent">70%</span></h3>
                    <p><b>CURP:</b> LJFYWO980009</p>
                    <a class="historial">Ir al historial clínico ↗</a>
                </div>

                <!-- C. DIVISIÓN SOCIO-ECONÓMICA / COLUMNA IZQUIERDA INFERIOR -->
                <div class="socio-economico-izq">
                    <h3 class="seccion-titulo">Información Socio-Económica</h3>

                    <!-- Datos con bullets para Ingreso y Costo -->
                    <p class="data-label">Ingreso Mensual Aproximado (MXN)</p>
                    <ul class="bullet-list">
                        <li>$1900.00</li>
                    </ul>

                    <p class="data-label">Costo mensual de tratamiento (MXN)</p>
                    <ul class="bullet-list">
                        <li>$1000</li>
                    </ul>
                </div>

                <!-- D. DIVISIÓN SOCIO-ECONÓMICA / COLUMNA DERECHA INFERIOR -->
                <div class="socio-economico-der">
                    <p class="data-label">Nivel de Estudios</p>
                    <ul class="bullet-list">
                        <li>Básico (Primaria/Secundaria)</li>
                    </ul>

                    <p class="data-label">Ocupación</p>
                    <ul class="bullet-list">
                        <li>Desempleado</li>
                    </ul>

                    <button class="btn-editar" routerLink="/pacientes/info">
                        Editar Información
                        <span class=" material-icons arrow">edit</span>

                    </button>


                </div>
            </div>


        </div>


    </div>

</div>