.paciente-editar-container {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
}

.barra-superior {
    display: flex;
    align-items: center;
    gap: 140px;
    margin-bottom: 50px;
}

.search-bar {
    max-width: 650px;
    margin: 20px auto 40px auto;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 8px 15px;
    background-color: #F8F8F8;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
}

.search-bar span {
    color: #3b82f6;
    cursor: pointer;
}

.contendor-blackground {
    background: #ffffff;
    border: 1px solid #b1b1b1;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    padding: 70px;
}

.info-card {
    background: #EBF5FB;
    border: 1px solid #b1b1b1;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    padding: 30px;
}

.data-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.nombre-paciente {
    font-size: 18px;
    font-weight: 700;
    color: #1e3857;
    margin-bottom: 10px;
}

.desercion-prob {
    font-size: 16px;
    font-weight: 600;
    color: #1e3857;
    margin-bottom: 5px;
}

.desercion-prob .percent {
    color: #F89B2B;
    font-weight: 800;
}

.paciente-header p,
.desercion-header p {
    font-size: 14px;
    color: #475569;
    margin-bottom: 4px;
}

.historial {
    font-size: 14px;
    color: #3b82f6;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin-top: 5px;
}

.seccion-titulo {
    font-size: 16px;
    font-weight: 700;
    color: #1e3857;
    margin-top: 25px;
    margin-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid #e1e4eb;
    grid-column: span 2;
}

.data-label {
    font-size: 14px;
    font-weight: 600;
    color: #475569;
    margin-bottom: 2px;
}

.bullet-list {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 15px;
}

.bullet-list li {
    font-size: 16px;
    color: #1e3857;
    padding-left: 15px;
    position: relative;
}

.bullet-list li::before {
    content: "•";
    color: #3b82f6;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.btn-editar {
    background-color: #496F96;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
}

.btn-editar .arrow {
    margin-left: 8px;
}

.btn-editar:hover {
    background-color: #3f5d7d;
}