<div class="mi-cuenta-container">

    <div class="tarjeta-base barra-superior-layout">
        <img src="/LogoHorizontal.png" alt="Logo AdherentIAHorizontal" class="app-logoHorizontal">
        <h2 class="titulo">Mi cuenta</h2>
    </div>

    <div class="tarjeta-base contendor-perfil-info">

        <button class="btn-editar" routerLink="/pacientes/info">
            Editar
            <span class=" material-icons arrow">edit</span>
        </button>

        <div class="perfil-avatar-info">

            <div class="avatar-grande">
                <span class="material-icons avatar-icono">person</span>
                <span class="material-icons avatar-add">add_circle</span>
            </div>

            <h3 class="perfil-nombre">Katia Martagón</h3>
            <p class="perfil-rol">Info</p>
        </div>

        <div class="cerrar-sesion-wrapper">
            <a href="#" class="btn-cerrar-sesion">
                <span class="material-icons">arrow_right_alt</span>
                Cerrar sesión
            </a>
        </div>
    </div>
</div>