<div class="main-screen-container">
    <div class="presentacion-container">
        <img src="/966d17ba0f1b0ccf8a6e4de5dee3f519a35c5060.png" alt="Logo AdherentIA" class="app-logo">
        <h1 class="app-title">AdherentIA</h1>
        <p class="app-lema">Sistema Predictivo de Adherencia Terapéutica en Pacientes con Enfermedades Crónicas</p>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <div class="login-container">
        <h2>Regístrate</h2>

        <div class="form-group">
            <label>Correo Electrónico *</label>
            <input type="email" [(ngModel)]="email" placeholder="nombre@gmail.com">
        </div>

        <!-- CONTRASEÑA -->
        <div class="form-group">
            <label>Contraseña *</label>
            <div class="password-container">
                <input [type]="mostrarClave ? 'text' : 'password'" [(ngModel)]="password"
                    placeholder="Ingresa tu contraseña">

                <button type="button" class="icon-eye" (click)="mostrarClave = !mostrarClave">
                    <i class="fa" [ngClass]="mostrarClave ? 'fa-eye' : 'fa-eye-slash'"></i>
                </button>
            </div>
        </div>

        <!-- CONFIRMAR CONTRASEÑA -->
        <div class="form-group">
            <label>Confirmar Contraseña *</label>
            <div class="password-container">
                <input [type]="mostrarClave2 ? 'text' : 'password'" [(ngModel)]="confirmPassword"
                    placeholder="Repite tu contraseña">

                <button type="button" class="icon-eye" (click)="mostrarClave2 = !mostrarClave2">
                    <i class="fa" [ngClass]="mostrarClave2 ? 'fa-eye' : 'fa-eye-slash'"></i>
                </button>
            </div>
        </div>

        <button class="btn-entrar" (click)="registrarUsuario()">
            Registrar
        </button>

        <p class="registro-link">
            ¿Ya tienes una cuenta? <a routerLink="/auth/login">Iniciar Sesión</a>
        </p>
    </div>
</div>