.registrar-paciente {
    background: #ffffff;
    padding: 70px;
    border-radius: 14px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.08);
    max-width: 1100px;
    margin: auto;
    transition: opacity 0.3s ease-in-out;
}

.barra-superior {
    display: flex;
    align-items: center;
    gap: 140px;
    margin-bottom: 50px;
}

.barra-superior .titulo {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    color: #1e293b;
    margin: 0;
}

.progress-bar {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-bottom: 35px;
}

.step {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid #c7cdd8;
    background-color: white;
    transition: all 0.3s;
}

.step.active {
    background-color: #3b82f6;
    border-color: #3b82f6;
    transform: scale(1.15);
}

.form-section {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #e1e4eb;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    max-width: 900px;
    margin: auto;
}

.info-group h3 {
    font-size: 18px;
    margin-bottom: 12px;
    color: #334155;
}

label {
    display: block;
    font-weight: 600;
    margin-top: 12px;
    color: #475569;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    margin-top: 6px;
    font-size: 14px;
    transition: border-color 0.25s;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #3b82f6;
    outline: none;
}

textarea {
    resize: none;
    height: 80px;
}

.step1-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step1-container form {
    max-width: 600px;
    margin: auto;
    text-align: left !important;
}

.step1-container form h3,
.step1-container form .descripcion {
    text-align: center;
    margin-bottom: 10px;
}

.paciente-info {
    background: #EBF5FB;
    padding: 18px 22px;
    border-radius: 10px;
    border: 1px solid #EBF5FB;
    width: 100%;
    max-width: 600px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    background: #EBF5FB;
    border: 1px solid #EBF5FB;
    border-radius: 8px;
    padding: 8px 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.search-container input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
}

.search-container span {
    color: #3b82f6;
    cursor: pointer;
}

.btn-sig {
    display: block;
    margin: 50px auto 0 auto;
}

.btn-sig {
    border: none;
    padding: 20px 34px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.25s, transform 0.2s;
    font-weight: 600;
    line-height: 1;
}

.btn-sig {
    background-color: #154369;
    color: white;
}

.btn-sig:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

.botones {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin-top: 60px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.step2-form .btn-siguiente,
.step3-container .btn-siguiente {
    background-color: #496F96;
}

.step2-form .btn-anterior,
.step3-container .btn-anterior {
    background-color: #CAD5E1;
    color: #475569;
}

.step2-form .btn-siguiente:hover,
.step3-container .btn-siguiente:hover {
    background-color: #3f5d7d;
}

.step2-form .btn-anterior:hover,
.step3-container .btn-anterior:hover {
    background-color: #b0bcc8;
}

.step2-form {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.step2-form h3 {
    margin-bottom: 18px;
    font-size: 18px;
    color: #334155;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.step2-form h3 {
    grid-column: span 2;
    width: 50%;
}

.form-grid {
    justify-content: center;
    grid-template-columns: 320px 320px;
    gap: 150px;
    display: grid;
}

.step2-form .btn-siguiente,
.step2-form .btn-anterior {
    padding: 10px 35px;
    padding-left: 55px;
    padding-right: 55px;
}

.step3-container {
    text-align: center;
    max-width: 1000px;
    margin: 40px center;
    padding: 50px;
    display: block;
    grid-template-columns: none;
    gap: 0;
}

.step3-container .btn-siguiente,
.step3-container .btn-anterior {
    padding: 10px 35px;
    padding-left: 55px;
    padding-right: 55px;
}

.header-text,
.prediction-result {
    display: block;
    width: 100%;
}

.descripcion {
    text-align: center;
    margin-bottom: 10px;
}

.prediction-result {
    margin-bottom: 150px;
}

.prediction-result .percentage {
    font-size: 85px;
    font-weight: 1000;
    color: #F89B2B;
    display: inline-block;
    margin-top: 30px;
}

.btn-siguiente,
.btn-anterior {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.25s, transform 0.2s;
    font-weight: 600;
    line-height: 1;
    margin: 0;
}

.btn-siguiente {
    background-color: #154369;
    color: white;
}

.btn-anterior {
    background-color: #6c8fca;
    color: white;
}

.btn-siguiente:hover,
.btn-anterior:hover {
    transform: translateY(-2px);
}