.registrar-paciente {
    background: #f9fbff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.titulo {
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}

.progress-bar {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}

.step {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: white;
    transition: all 0.3s;
}

.step.active {
    background-color: #3b82f6;
    border-color: #3b82f6;
}

.form-section {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.info-group {
    flex: 1;
}

.info-group h3 {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: 600;
    margin-top: 10px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    margin-top: 5px;
}

textarea {
    resize: none;
}

.botones {
    text-align: center;
    margin-top: 20px;
}

.btn-siguiente,
.btn-anterior {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
}

.btn-anterior {
    background-color: #9ca3af;
}