<div class="main-screen-container">
    <div class="presentacion-container">
        <img src="/966d17ba0f1b0ccf8a6e4de5dee3f519a35c5060.png" alt=" Logo AdherentIA" class="app-logo">
        <h1 class="app-title">AdherentIA</h1>
        <p class="app-lema">Sistema Predictivo de Adherencia Terapéutica en Pacientes con Enfermedades Crónicas</p>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <div class="login-container">
        <h2>Iniciar Sesión</h2>

        <div class="form-group">
            <label>Correo Electrónico</label>
            <input type="email" [(ngModel)]="email" placeholder="Ej: usuario@gmail.com">
        </div>

        <div class="form-group">
            <label>Contraseña</label>

            <div class="password-container">
                <input [type]="mostrarClave ? 'text' : 'password'" [(ngModel)]="password"
                    placeholder="Ingresa tu contraseña">

                <button type="button" class="icon-eye" (click)="togglePassword()">
                    <i class="fa" [ngClass]="mostrarClave ? 'fa-eye' : 'fa-eye-slash'"></i>
                </button>
            </div>
        </div>

        <button class="btn-entrar" (click)="validarLogin()">
            Iniciar Sesión
        </button>

        <p class="registro-link">
            ¿No tienes cuenta? <a routerLink="/auth/signup">Regístrate aquí</a>
        </p>
    </div>
</div>